<div class="band-content group">
		<section class="band-content-main-index">
		<div class="all-albums">
			<% bands.each(function (band) { %>
				<div class="album-container">
					<div class="album-image group">
						<a href="#/bands/<%= band.id %>">
							<img src="<%= band.escape('image') %>">
						</a>
						
					</div>
					<div class="album-info">
						<%= band.escape("name") %>
					</div>
				</div>
			<% }) %>
		</div>
  </section>
</div>

