<h3>Index</h3>

<button id="refresh">Refresh</button>

<ul>
	<% bands.each(function (band) { %>
		<li>
			<a href="#/bands/<%= band.id %>">
				<%= band.escape("name") %>
			</a>
		</li>
	<% }) %>
</ul>

<br>

<a href="#/bands/new">New Band</a>
<br>
<a href="#/">Back to Index</a>