<h1><%= band.get("name") %></h1>

<h3>Albums</h3>
<ul>
	<% band.albums().each(function (album) { %>
		<li><%= album.get("name") %></li>
	<% }); %>
</ul>

<h3>Songs</h3>
<ul>
	<% band.songs().each(function (song) { %>
		<li><%= song.get("title") %></li>
	<% }); %>
</ul>

<a href="#/bands">Back to Bands</a>