<div class="profile-picture">
<img src="<%= band.escape('image')%>">
</div>

<h3><%= band.escape("name") %></h3>

<h3>Albums</h3>
<ul class="albums"></ul>

<h3>Songs</h3>
<ul class="songs"></ul>

<a href="#/bands">Back to Bands</a>