<div class="welcome-page">
  <h1>HELLO</h1>
  
 	<a href="#/bands"><div class="welcome-link">Bands</div></a>
	<a href="#/albums"><div class="welcome-link">Albums</div></a>
	<a href="#/songs"><div class="welcome-link">Songs</div></a>
  
<div>