<div class="welcome-page">
	<div class="huh group">
  
		<div class="links-container group">
		 	<a href="#/bands"><div class="welcome-link"><p>bands</p></div></a>
			<a href="#/albums"><div class="welcome-link"><p>albums</p></div></a>
			<a href="#/songs"><div class="welcome-link"><p>songs</p></div></a>
		</div>
	
	</div>
<div>

<script type="application/json" id="bootstrapped-json">
  { "currentUser": <%= render(partial: "api/users/show.json", locals: { user: current_user }).html_safe %> }
</script>
	
<script>
	BandLand.currentUserId = <%= current_user.try(:id) || "undefined" %>;
	BandLand.currentUserName = "<%= current_user.try(:username) || "undefined" %>";
	BandLand.currentUserPhoto = "<%= current_user.try(:filepicker_url) || "undefined" %>"
	console.log(BandLand.currentUserId)
  $(document).ready(function() {
    BandLand.initialize();
  })	
</script>