<div class="welcome-page">
	<div class="huh group">
  
		<div class="links-container group">
		 	<a href="#/bands"><div class="welcome-link"><p>bands</p></div></a>
			<a href="#/albums"><div class="welcome-link"><p>albums</p></div></a>
			<a href="#/songs"><div class="welcome-link"><p>songs</p></div></a>
		</div>
	
	</div>
<div>