<div class="dashboard-menu group">
  <div class="dashboard-item dash-menu-wrapper">
    <li><a href="#/mybands">Bands</a></li>
    <li><a href="#/myalbums">Albums</a></li>
    <li><a href="#/mysongs">Songs</a></li>
  </div>
</div>
