<h1><%= @album.name %></h1>

<h2>Songs</h2>
<ul>
<% @album.songs.each do |song| %>
<li><%= song.title %></li>
<% end %>
</ul>


<h2>Tags</h2>
<ul>
<% @album.tags.each do |tag| %>
<li><%= tag.name %></li>
<% end %>
</ul>