<div class="song-content group">
		<section class="band-content-main-index">
		
		<h3><div class="title"><%= song.escape("title") %></div></h3>

		<audio src="<%= song.has("track") && song.escape("track") %>" preload="auto">

  </section>
</div>





