<img src="<%= song.escape('image')%>">


<audio src="<%= song.has("track") && song.escape("track") %>" preload="auto">
<li>
	<div class="title"><%= song.escape("title") %></div>
</li>
<button class="destroy">Destroy</button>

<a href="#/songs">Back to Songs</a>