<div class="screen">
<form class="sign-in" enctype="multipart/form-data">
	
	<h1>Welcome</h1>
	<br>
	
	<div class="input">
  <label for="username">Username</label>
  <input id="username" name="user[username]" type="text" value="">
  </div>

	<div class="input">
  <label for="password">Password</label>
  <input id="password" name="user[password]" type="password" value="">
	</div>

	<div class="submit">
  <button>Sign In</button>
	</div>
</form>
</div>

Or, <a href="#user/new">sign up</a>