<section class="page about">
	<div class="picture">
			<img class="circular" src="<%= asset_path("profile_main_small.png") %>" alt="profile">
	</div>
	
	<h1>Thanks for checking out my site!</h1>

</section>
	
