.circular {
	width: 230px;
	height: 250px;
	border-radius: 300px;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	margin: auto 0;
}

.about {
	height: 600px;
}

.picture {
	width: 230px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

