// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* --- GENERAL --- */

.album-content {
  background: #fff;
  width: 960px;
  padding: 20px;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.album-content-songs {
	margin-top: 50px;
	margin-left: 25px;
  float: left;
  width: 350px;
}

.album-content-main-index {
  float: left;
  width: 900px;
	padding-left: 80px;
}

.album-content-main-show {
  float: right;
  float: left;
  width: 400px;
}

.album-content-sidebar {
	background: yellow;
	width: 80px;
	float:right;
}



/* --- ALBUMS --- */
.all-albums {
	padding-left: 90px;
}

.album-container {
	float: left;
	display: block;
	width: 150px;
	height: 180px;
	margin: 20px;
}

.album-image {
	display: block;
	background: grey;
	width: 150px;
	height: 150px;
}

.album-image img{
	width: 150px;
	height: 150px;
}

.album-info {
	text-align: center;
	padding-top: 10px;
	font-size: 12px;
	display: block;
}

.album-info-index {
	text-align: left;
	padding-top: 10px;
	font-size: 12px;
	display: block;
}

.album-info-index strong {
	font-size: 14px;
	font-weight: bold;
}

/* ---- ALBUM SHOW ------ */
.title-area {
	
}

.title-area h3 {
	font-size: 48px;
	margin: 0;
}

.all-songs {
	margin-top: 40px;
}

.album-picture {
	width: 500px;
	height: 500px;
}

.album-picture img {
	width: 400px;
	height: 400px;
}

.band-info h3{
	text-align: left;
}