/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* --- Reset user agent styles --- */

html, body, header, h1, h2, nav, ul, li, a, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* --- Set basic html elements --- */
body {
  font-family: sans-serif;
	background: #F6F6F6;
	background-image: image-url('light_toast.png');
  color: #333;
}

a {
  color: #90E5FD;
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

/* --- Helper methods (clearfix) --- */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* --- Page --- */
.page {
  background: white;
  width: 960px;
  padding: 20px;
  margin: auto;
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
}
.page-left {
  float: left;
  width: 200px;
  padding: 0 20px 0 0;
  border-right: 3px solid #ddd;
}
.page-right {
  float: right;
  width: 600px;
}