// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* --- GENERAL --- */

.band-content {
  background: #fff;
  width: 960px;
  padding: 20px;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.band-content-sidebar {
  float: left;
  width: 200px;
}

.band-content-main-show {
  float: right;
  width: 620px;
  padding: 0 0 0 20px;
  border-left: 1px solid #ccc;
}

.band-content-main-index {
  float: left;
  width: 900px;
	padding-left: 80px;
}

/* --- SHOW SIDEBAR --- */

.band-picture {
  width: 300px;
  height: 300px;
}

.band-picture > img {
  width: 290px;
  height: 290px;
}

.no-band-image {
	display: inline-block;
	vertical-align: top;
  width: 290px;
  height: 290px;
	border: 1px solid black;
}

.no-band-image > p {
	padding-top: 120px;
	text-align: center;
}

.band-info {
	padding-left: 10px;
  margin: 10px 0;
}

.band-info h2 {
	text-align: left;
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size: 32px;
}

.band-info p {
	text-align: left;
}

.band-info a {
	font-size: 10px;
}

.band-about {
	width: 280px;
	border-top: 1px solid #ccc;
	padding-left: 10px;
}

/* --- INDEX --- */
.all-bands {
	padding-left: 20px;
}

.band-container {
	float: left;
	display: block;
	width: 150px;
	height: 180px;
	margin: 20px;
}

.band-image {
	display: block;
	background: grey;
	width: 150px;
	height: 150px;
}

.band-image img{
	width: 150px;
	height: 150px;
}

.band-info {
	text-align: center;
	padding-top: 10px;
	font-size: 12px;
	display: block;
}