// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.song-content {
  background: #fff;
  width: 960px;
  padding: 20px;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}