<div class="album-content group">
	  <section class="album-content-main-index">
		<div class="all-albums">
			<% albums.each(function (album) { %>
			
				<div class="album-container">
					<div class="album-image group">
						<a href="#/albums/<%= album.id %>">
							<img src="<%= album.escape('image') %>">
						</a>
						
					</div>
					<div class="album-info-index">
						<strong><%= album.escape("name") %></strong>
						<br>
						by <strong><%= BandLand.Collections.bands.get(album.escape("band_id")).escape("name") %></strong>
					</div>
				</div>
			<% }) %>
		</div>
  </section>
</div>

