<h3>Albums</h3>

<ul>
	<% albums.each(function (album) { %>
		<li>
			<a href="#/albums/<%= album.id %>">
				<%= album.escape("name") %>
			</a>
		</li>
	<% }) %>
</ul>

<br>

<a href="#/albums/new">New Album</a>
<br>
<a href="#/">Back to Index</a>