<footer class="footer">
	<div class="footer-wrap group">
  <small class="footer-copy">

  </small>

  <nav class="footer-links">
    <ul>
      <li><a href="#/landing">Home</a></li>
      <!-- <li><a href="<%= about_index_url %>">About</a></li> -->
			<li><a href="http://www.charnuska.com" target="_blank">About</a></li>
    </ul>
  </nav>
	</div>
</footer>